<h2><span style="font-size:32px;">Launchpad Archive</span></h2>
<hr></hr>   
</br>      
<% @posts.each do |post|  %>
   <h2><%= post.title %></h2>
<% if user_signed_in? &&  ['ADMIN'].include?(current_user.role) %>
   <p><%=link_to 'Edit Post', { :controller => 'posts', :action => 'edit', :id => post.id }%>
<%=link_to 'Delete Post', { :controller => 'posts', :action => 'delete', :id => post.id }, :class => 'deletePost'%></p>
   <% end %>
<% if post.image != '' %>
   <div class="postImg">
   <%= image_tag post.image %></br>
</div>
   <% elsif post.video != '' %>
   <div class="postVideo">
   <embed width="600" height="361" type="application/x-shockwave-flash" allowFullscreen="true" allowNetworking="all" wmode="transparent" src="http://static.photobucket.com/player.swf" flashvars="<%= parse_photobucket_direct_link post.video%>">
   </div>
<% end %>
   <p><%= post.body %></p></br>
   <p>Posted on <b><%= post.created_at.strftime("%m/%d/%Y")%> </b>
   by <b><%= post.posted_by %> </b></p>
<% end %>
   <%=link_to 'Back to Recent Posts', posts_path %>
