<h2>The Launchpad</h2> </br>      
<% @posts.each do |post|  %>
   <h2><%= post.title %></h2></br>
   <% if post.image != '' %>
      <div id="postImg">
      <%= image_tag post.image %></br>
      </div>
   <% end %>
<p><%= post.body %></p></br>
<p>Posted on: <b><%= post.created_at.strftime("%m/%d/%Y")%> </b></p>
<% end %>

<%=link_to 'Back to Recent Posts', posts_path %>
