<h2><span style="font-size:32px;">Pioneer Rocketry Members</span></h2>
<hr></hr></br>
<b> There <%= @users.size - 1 > 1 ? 'are' : 'is' %> currently <%= @users.size - 1 %> member<%=@users.size - 1 > 1 ? 's' : nil %> signed up.</b>
<% admin_and_signed_in = user_signed_in? && ['ADMIN'].include?(current_user.role)%>
<table>
   <tr>
      <td>Email</td> <td> Joined </td> <% if admin_and_signed_in %> <td> Last Sign In </td><% end %>
   </tr>
   <% @users.each do |user|  %>
      <% if user.email != 'pr_admin@uwplatt.edu' %>
      <tr>
         <td><%= user.email %></td> <td><%= user.created_at.strftime("%m/%d/%Y")%></td> 
         <% if admin_and_signed_in %>
            <td><%= user.last_sign_in_at.strftime("%m/%d/%Y")%></td>
         <% end%>
      <% end%>
    </tr>
   <% end %>
</table>
